{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Service de Stockage</h1>
                <p>Stockez ici toutes vos données de manière sécurisée</p>
            </div>

            <div id="status">
                {% if app.user.username is defined %}
                    <p>

                        <ul>
                            <li>
                                <a href="/web/app_dev.php/profile">Mon profil : {{ app.user.username }}</a>
                            </li>
                            <li>
                                <a href="/web/app_dev.php/stockage">Mes fichier</a>
                            </li>
                        </ul>
                    </p>
                    <p id="hautDroit"><a href="/web/app_dev.php/logout">Déconnexion</a></p>
                    <dialog id="choixDialog">
                        <form method="dialog">
                            <section>
                                <p>Pseudo : {{ app.user.username }}</p>
                                <p>E-mail : {{ app.user.email }}</p>
                            </section>
                            <section>
                                <p><label for="choix">Formule choisie :</label>
                                    <select id="choix" name="favAnimal">
                                        <option value="1">1Mo</option>
                                        <option value="10">10Mo</option>
                                        <option value="100">100Mo</option>
                                    </select></p>
                            </section>
                            <menu>
                                <button id="cancel" type="reset">Annuler</button>
                                <button id="submit" type="submit">Confirmer</button>
                            </menu>
                        </form>

                    </dialog>
                    <div>
                        {#{% include 'formule/newindex.html.twig' %}#}
                    </div>

                    <menu>
                        <button id="updateDetails">Souscription</button>
                    </menu>
                {% else %}
                    <p>Il faut se connecter pour pouvoir déposer un fichier ici</p>
                    <p><a href="/web/app_dev.php/login">Connexion</a></p>
                {% endif %}

            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
{% block javascripts %}
    <script>
        (function() {
            var updateButton = document.getElementById('updateDetails');
            var cancelButton = document.getElementById('cancel');
            var submitButton = document.getElementById('submit');
            var reponse = 0;

            // Update button opens a modal dialog
            updateButton.addEventListener('click', function() {
                document.getElementById('choixDialog').showModal();
            });

            // Bouton pour fermer la boîte de dialogue
            cancelButton.addEventListener('click', function() {
                document.getElementById('choixDialog').close(reponse);
            });
            // Bouton pour valider le choix de formule

            submitButton.addEventListener('click', function() {
                reponse = document.getElementById('choix').value;
                document.getElementById('choixDialog').close();
                console.log(reponse);
            });




        })();
    </script>
{% endblock %}
